<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>부서 리스트</title>
</head>
<body>
    <h1>부서리스트</h1>
    <hr>
<!--    <p th:text="${depts}"></p>-->
    <table>
        <thead>
        <tr>
            <th>번호 </th>
            <th>이름</th>
            <th>위치</th>
            <th>부서에 배치된 사원</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="d:${depts}">
                <td th:text="${d.getId()}"></td>
                <td th:text="${d.dname}"></td>
                <td th:text="${d.loc}"></td>
<!--                <td th:text="${d.emps}"></td>-->
            </tr>
        </tbody>
    </table>
</body>
</html>